{{- $credentials := slice }}
{{- range .Site.Data.certifications }}
  {{- $credentials = $credentials | append (dict
      "@type" "EducationalOccupationalCredential"
      "credentialCategory" "certification"
      "name" .title
      "url" .verify
  ) }}
{{- end }}

{{- $person := dict
    "@context" "https://schema.org"
    "@type" "Person"
    "name" "Dimosthenis Atteia"
    "alternateName" "Δημοσθένης Αττέια"
    "jobTitle" "CIO/CISO"
    "url" .Site.BaseURL
    "worksFor" (dict "@type" "Organization" "name" "Μύλοι Κεπενού Α.Β.Ε.Ε.")
    "hasCredential" $credentials
    "sameAs" (slice
        "https://www.linkedin.com/in/dimosthenisatteia/"
        "https://github.com/dimosatteia"
        "https://www.credly.com/users/dimosthenis-atteia"
        "https://learn.microsoft.com/en-us/users/dimosthenisatteia-5411/"
    )
    "award" "Gold Award, Cyber Security Awards 2026 (Boussias)"
    "knowsAbout" (slice "Microsoft 365 Security" "Microsoft Defender XDR" "Microsoft Entra ID" "Microsoft Purview" "NIS2" "ISO 27001" "OT/ICS Security")
}}

<script type="application/ld+json">
{{ $person | jsonify (dict "indent" "  ") | safeJS }}
</script>
