{{- if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title | jsonify }},
  "description": {{ .Summary | plainify | jsonify }},
  "author": {
    "@type": "Person",
    "name": "Dimosthenis Atteia",
    "url": "https://thecybersec.gr",
    "jobTitle": "Chief Information Security Officer"
  },
  "datePublished": {{ .Date.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  {{- with .Params.cover.image }}
  "image": {{ . | absURL | jsonify }},
  {{- end }}
  "url": {{ .Permalink | jsonify }},
  "wordCount": {{ .WordCount }},
  "keywords": {{ with .Params.tags }}{{ delimit . ", " | jsonify }}{{ else }}"cybersecurity, information security"{{ end }},
  "publisher": {
    "@type": "Organization",
    "name": "TheCyberSec",
    "logo": {
      "@type": "ImageObject",
      "url": "https://thecybersec.gr/android-chrome-512x512.png"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify }}
  }
}
</script>
{{- end }}